/* Error.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    text-align: center;
  }
  .content{
    background: none;
  }
  h1 {
    font-size: 2rem; 
    margin: 0;
    color:red;
  }
  
  .content h3 {
    font-size: 1.2rem; 
    margin: 0;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .content h1 {
      font-size: 1.5rem; /* Smaller font size on mobile */
    }
    
    .content h3 {
      font-size: 1rem; /* Smaller font size on mobile */
    }
  }
  